.grid {
  display: grid;
  width: 50%;
  margin: auto;
  vertical-align: middle;
  grid-auto-rows: 50px 1fr;
  grid-auto-columns: 1fr;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}

.grid h2 {
  margin: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  line-height: 50px;
  color: rgb(245, 245, 245);
  background-color: hsl(var(--green-h), var(--green-s), var(--green-l));
}

.grid div {
  padding-left: 30px;
}

@media only screen and (max-width: 600px) {
  .grid {
    width: 100%;
    border-radius: 0px;
  }
  .grid h2 {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}
