.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  padding: 0px 5px;
}

footer {
  font-weight: bold;
  margin: 0px 30px;
}
