@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  /*Prevent content selection.*/
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  --input-border: #46d369;
  --input-focus-h: 165;
  --input-focus-s: 62%;
  --input-focus-l: 55%;
}

*,
*::before,
*::after {
  /* Reset everything */
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #111;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: wheat;
}

.options {
  display: flex;
  width: 300px;
  padding: 15px;
  flex-direction: column;
  flex-wrap: wrap;
}

.options > * {
  margin-bottom: 10px;
}

#sortBy {
  outline: none;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  text-align: center;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
}

#sortBy:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
}

#rolesFilter {
  display: flex;
  padding: 5px;
  flex-direction: column;
}

label {
  cursor: pointer;
  padding: 2px;
  text-align: justify;
}

label:hover {
  border: 1px solid #46d369;
  border-radius: 8px;
}

input[type="checkbox"] {
  display: none;
  width: 0;
  height: 0;
}

label input[type="checkbox"]:checked + span {
  color: #46d369;
}

.employees {
  display: flex;
  width: 50%;
  height: 500px;
  overflow-y: scroll;
}

.employees td {
  padding: 15px;
  text-align: end;
}

.employees thead tr > td {
  border-bottom: 1px solid rgb(241, 228, 202);
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(58, 57, 57);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b2a2a;
}
