<div>04</div>
<div>
  <h3>Exercício {{ currentExercise + 1 }}/{{ exercises.length }}:</h3>
  <p>
    {{ exercises[currentExercise].name }}
  </p>
  <p>
    {{ currentPhase }}
    <span *ngIf="currentPhase === 'Exercício'">
      (repetições {{ currentRepetition }}/{{
        exercises[currentExercise].times
      }})
    </span>
  </p>
</div>
<div>
  <button>Iniciar</button>
  <button>Pausar</button>
  <button (click)="restart()">Reiniciar</button>
  <button (click)="next()">Próximo</button>
</div>
