:host {
  display: grid;
  grid-auto-rows: 50px 1f;
  grid-auto-columns: 1f;
}

.header {
  width: 100%;
  height: 100%;
}

.options {
  padding-bottom: 30px;
}

label {
  display: block;
  width: 95%;
  padding: 15px;
  padding-left: 5%;
  border: 1px solid rgb(0, 0, 0, 0);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

label:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

label input[type="checkbox"] {
  visibility: hidden;
}

input[type="radio"]:checked {
  accent-color: hsl(var(--green-h), var(--green-s), var(--green-l));
}

.selected {
  border-color: hsl(var(--green-h), var(--green-s), var(--green-l));
}

.disabled {
  text-decoration: line-through;
  color: rgba(141, 140, 140, 0.7);
}
