<mat-toolbar color="primary">
    <span>Adicionar contato</span>
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" autocomplete="off" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="phone" autocomplete="off" />
    </mat-form-field>

    <a routerLink="/" mat-raised-button>Voltar</a>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
</form>