<div>
  <input #ititle type="text" placeholder="Title" />
  <input #idesc type="text" placeholder="Description" />
  <button (click)="addTask(ititle.value, idesc.value)">Add task</button>
</div>

<div>
  <h1>Todo List:</h1>

  <div [ngSwitch]="countPendingTasks()">
    <div *ngSwitchCase="0">Você não tem nenhuma tarefa :(</div>
    <div *ngSwitchCase="1">Você tem uma tarefa.</div>
    <div *ngSwitchDefault>Você tem {{ countPendingTasks() }} tarefas :)</div>
  </div>

  <div [ngSwitch]="countCompletedTasks()">
    <div *ngSwitchCase="0">Você ainda não completou nenhuma tarefa.</div>
    <div *ngSwitchCase="1">Você completou uma tarefa.</div>
    <div *ngSwitchDefault>
      Você completou {{ countCompletedTasks() }} tarefas :)
    </div>
  </div>

  <div *ngFor="let task of list">
    <ng-container *ngIf="!task.done">
      <input type="checkbox" [(ngModel)]="task.done" />
      <h3>{{ task.title }}</h3>
      <p>{{ task.description }}</p>
      <button (click)="deleteTask(task)">Remove task</button>
    </ng-container>
  </div>
</div>
