<div>
    <input #ititle type="text" placeholder="Title">
    <input #idesc type="text" placeholder="Description">
    <button (click)="addTask(ititle.value, idesc.value)">Add task</button>
</div>

<div>
    <h1>Todo List:</h1>

    <div [ngSwitch]="list.length">
        <div *ngSwitchCase="0">Você não tem nenhuma tarefa :(</div>
        <div *ngSwitchCase="1">Você tem uma tarefa.</div>
        <div *ngSwitchDefault>Você tem {{list.length}} tarefas :)</div>
    </div>

    <div *ngFor="let task of list">
        <ng-container *ngIf="!task.done">
            <input type="checkbox" [checked]="task.done">
            <h3>{{task.title}}</h3>
            <p>{{task.description}}</p>
            <button (click)="deleteTask(task)">Remove task</button>
        </ng-container>
    </div>
</div>
