@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  display: inline-block;
  background-color: #111;
}

.lorem-ipsum {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  /*border: dashed 2px rgba(142, 204, 233, 0.5);*/
}

* > .lorem-ipsum {
  padding: 15px 15px;
}

.lorem-ipsum--title {
  font-size: 28px;
  color: rgb(211, 44, 44);
}

.lorem-ipsum--text {
  font-size: 18px;
  color: deepskyblue;
}

.lorem-ipsum--text > span {
  background-image: repeating-linear-gradient(
    45deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red,
    violet
  );
  text-align: center;
  background-size: 800% 800%;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.lorem-ipsum-hyperlink {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.lorem-ipsum-hyperlink a {
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(211, 44, 44);
    text-decoration: none;
}
