<div>
  <p>{{ text }}</p>
  <p>{{ text | lowercase }}</p>
  <p>{{ text | uppercase }}</p>
</div>

<div>
  <p>{{ number }}</p>
  <p>{{ number | number: ".2-2" }}</p>
  <p>{{ number | number: "9.0-0" }}</p>
</div>

<div>
  <p>Date: {{date}}</p>
  <p>Medium: {{date | date:'medium'}}</p>
  <p>Full: {{date | date:'fullDate'}}</p>
</div>

<div>
  <p>{{cep}}</p>
  <p>{{cep | cep}}</p>
</div>

<div>
  <p>{{cpf}}</p>
  <p>{{cpf | cpf}}</p>
</div>

<div>
  <input #in_text type="text" />
  <button (click)="add(in_text.value)">Add</button>
  <ul>
    <li *ngFor="let w of words; let i = index">
      {{w}}
      <button (click)="remove(i)">x</button>
    </li>
  </ul>
  <p>{{words | joiner:', '}}</p>
  <p>{{words | joiner:'-'}}</p>
</div>