<div class="header">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Cardápio</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <mat-icon [matBadge]="orderService.totalQuantity" matBadgeColor="accent">shopping_cart</mat-icon>
            <span class="flex-1"></span>
            <a mat-button routerLink="/order">VER PEDIDO</a>
            <span class="flex-1"></span>
            <span>R$ {{ orderService.totalPrice | number: "0.2-2" }}</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<ng-container *ngIf="menu === undefined">
    <p>
        Loading content...
    </p>
</ng-container>

<ng-container *ngIf="menu !== undefined">
    <mat-action-list>
        <ng-container *ngFor="let product of menu.products; let i = index">
            <h2 *ngIf="i == 0 || product.category != menu.products[i - 1].category" matSubheader>
                {{ product.category | uppercase }}
            </h2>
            <mat-list-item (click)="orderService.addProduct(product)">
                <span class="flex-1">{{ product.description }}</span>
                <span class="fs-small">R$ {{ product.price | number: "0.2-2" }}</span>
            </mat-list-item>
        </ng-container>
    </mat-action-list>
</ng-container>