<h1>Desafio Guiado - Cronômetro</h1>
<div>
  <button [disabled]="currentMenu === 'Main'" (click)="changeMenu('Main')">
    Main
  </button>
  <button
    [disabled]="currentMenu === 'Settings'"
    (click)="changeMenu('Settings')"
  >
    Settings
  </button>
  <div *ngIf="currentMenu === 'Main'">
    <app-timer
      *ngIf="exercises.length !== 0"
      [exercises]="exercises"
    ></app-timer>
    <p *ngIf="exercises.length === 0">Você ainda não tem exercícios.</p>
  </div>
  <app-settings
    *ngIf="currentMenu === 'Settings'"
    [exercises]="exercises"
  ></app-settings>
</div>
